Source: spatial4j
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Hilko Bengen <bengen@debian.org>
Build-Depends: debhelper (>= 10),
               default-jdk,
               junit4,
               libcarrotsearch-randomizedtesting-java,
               libjts-java (>= 1.13),
               libmaven-bundle-plugin-java,
               libmaven-install-plugin-java,
               libnoggit-java,
               libslf4j-java,
               maven-debian-helper (>= 2)
Standards-Version: 3.9.7
Vcs-Git: git://anonscm.debian.org/pkg-java/spatial4j.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-java/spatial4j.git
Homepage: https://github.com/locationtech/spatial4j

Package: libspatial4j-java
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}
Suggests: ${maven:OptionalDepends}
Description: spatial/geospatial Java library
 Spatial4j is a general purpose spatial / geospatial Java library.
 It's core capabilities are 3-fold: to provide common
 geospatially-aware shapes, to provide distance calculations and other
 math, and to read and write the shapes to strings.
